# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Static Files
staticfiles/

# Python Cache
.pytest_cache/

# Distribution
build/
dist/

# Logs
*.log

# IDE
.idea/

# OS Files
.DS_Store
Thumbs.db